.container {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px);
  min-width: 100vw;
  text-align: right;

  background-color: #5c114916;
  /* background-image: url("../public/pageback4.png"); */
  background-size: 100vw 80vh;
}

.container h2 {
  margin-top: 10vh;
  font-size: 30pt;
  font-weight: lighter;
  margin: 45;
  max-width: 60vw;
  animation: fadeIn;
  animation-duration: 3s;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
