.container {
  padding: 5rem 3rem;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px);
  min-width: 100vw;
  text-align: left;

  background: linear-gradient(
    to right,
    #5c114999 0%,
    #5c114940 40%,
    #0f485740 60%,
    #0f485799 100%
  );
  background-size: 100vw 80vh;
}

.container h2 {
  font-size: 30pt;
  font-weight: lighter;
  margin: 20;
  animation: fadeIn;
  animation-duration: 3s;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
