.container {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px);
  min-width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("../public/pageback4.png");
  background-size: 100vw 80vh;
  background-color: white;
}

.container h2 {
  margin-top: 10vh;
  font-size: 30pt;
  font-weight: lighter;
  margin: 45;
  max-width: 60vw;
}
