.container {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px);
  min-width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #5c114999 0%,
    #5c114940 40%,
    #0f485740 60%,
    #0f485799 100%
  );
  background-size: 100vw 80vh;
  background-color: white;
}

.container h2 {
  font-size: 30pt;
  font-weight: lighter;
  margin: 45;
  max-width: 60vw;
}

.container a {
  font-size: 30pt;

  margin-left: 5vw;
  margin-right: 5vw;

  padding: rem;
  text-align: center;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-weight: lighter;
  min-width: 200px;
}

.container a:hover,
.container a:focus,
.container a:active {
  border: 2px solid #48c6cd;
  color: #48c6cd;
  font-weight: lighter;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  margin: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-height: 18rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
}

.card:hover,
.card:focus,
.card:active {
  color: #48c6cd;
  border-color: #48c6cd;
  background-color: #48c6cd25;
  border: 0px solid #eaeaea;
}

.card h3 {
  font-size: 1rem;
  color: #00000000;
}

.card:hover h3,
.card:focus h3,
.card:active h3 {
  font-size: 1rem;
  animation-duration: 1s;
  animation-name: fadeIn;
  color: rgb(255, 138, 138);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: black;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card:hover h2,
.card:focus h2,
.card:active h2 {
  color: black;
  border-color: #48c6cd;
}

.inLink {
  font-size: 10pt;
}
